{* This is the welcome page, you can delete it *}

{block content}


				<div class="card">
					<h5 class="card-header">Vítejte v TestOne</h5>
					<div class="card-body">
						<h5 class="card-title">Pro začátek je třeba...</h5>
						<p class="card-text">Vyberte projekt.     {control selectProjectForm}</p>

					</div>
				</div>


{/block}
