{* This is the welcome page, you can delete it *}

{block content}


	<div id="banner">
	<h1 n:block=title>Congratulations!</h1>
       Login as {$user->getIdentity()->username}
		<a n:href="Sign:out" class="btn btn-xs btn-danger"> <span class="glyphicon glyphicon-hand-right"></span> Odhlásit se</a>
	</div>

{/block}

{block scripts}
{include parent}
<script src="https://files.nette.org/sandbox/jush.js"></script>

{/block}


{block head}
<style>

</style>
{/block}
