#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days

extensions:
    - WebChemistry\Forms\Controls\DI\MultiplierExtension
    events: Kdyby\Events\DI\EventsExtension


#logger:
		#class: App\Model\EventListener\UserListener
	#	tags: [kdyby.subscriber]
database:
	dsn: 'mysql:host=127.0.0.1;dbname=main'
	user: 'root'
	password:
	options:
		lazy: yes


services:
	- App\Model\UserManager
	- App\Forms\FormFactory
	- App\Forms\SignInFormFactory
	- App\Forms\SignUpFormFactory
	router: App\RouterFactory::createRouter

	- App\Model\RequestModel
	- App\Model\PlanModel
	- App\Model\ProjectModel
	- App\Model\UserModel
	- App\Model\CaseModel
	- App\Model\ExecutionModel
	- App\Model\SetModel