
    <a n:class="$presenter->isLinkCurrent('Homepage:*') ? 'list-group-item list-group-item-action active' : 'list-group-item list-group-item-action'"
            href="{plink Homepage:default}">
        Dashboard</a>
    <a n:class="$presenter->isLinkCurrent('Case:*') ? 'list-group-item list-group-item-action active' : 'list-group-item list-group-item-action'"
            href="{plink Case:default}">
        Cases</a>
