

{block content}



				<h2>Section title</h2>
				<a n:href="Case:add"><button type="button" class="btn btn-warning">Přidat case</button></a>


				{control categoriesGrid}

                {control caseGrid}

{/block}
