{block content}

                <h1 n:block=title>Editace profilu</h1>

<hr>
    <a n:href="editPass!" class="ajax"><span class=" btn btn-primary btn-sm"><i
                    class="fa fa-lock "></i> Změna hesla</span></a>
    {control editMemberForm}

{/block}

{define modal-editPass-title}
    Změna hesla
{/define}
{define modal-editPass-body}

    {control editPassForm}

{/define}
{define modal-editPass-footer}
{/define}
