{block content}

    <h2 n:block=title>Profil - {$userdata->username}</h2>

    Poslední přihlášení:             {$userdata->last_login_time|date:'d.m.Y H:i:s'}

    <hr>
    Účet vytvořen:             {$userdata->create_time|date:'d.m.Y H:i:s'}
    <hr>
    Jméno:             {$userdata->name}
    <hr>
    Příjmení:             {$userdata->surname}
    <hr>
{/block}