

{block content}



				<h2> <i class="fa fa-box"></i> Testovací sady</h2>
				<a n:href="Set:add"><button type="button" class="btn btn-success btn-sm"> <i
								class="fa fa-plus-circle "></i> Přidat testovací sadu</button></a>


				{control categoriesGrid}


{/block}
{define modal-edit-title}
	Editace testovací sady
{/define}
{define modal-edit-body}

    {control editSetForm}

{/define}
{define modal-edit-footer}
{/define}
